---
layout: default
title: Wineries
description:
permalink: /wineries/
navclass: wineries
navtitle: Wineries
mapzoom: 10
lat: 32.849596
lng: -116.922914
---

<div id='winery-map'></div>

<section class="wineries">
	<h2>{{ page.title }}</h2>
	<nav>
		{% for state in site.states %}
			<a href="{{ state.url }}">{{ state.title }}</a>
		{% endfor %}
	</nav>
	<ul class="winery-list">		
		{% for winery in site.wineries %}
			<li>
				<a href="{{ winery.url }}">
					<img src="{{ winery.logo_path }}" alt="" />
					<hgroup>
						<h2>{{ winery.title }}</h2>
						<h3>{{ winery.address }}</h3>
					</hgroup>
				</a>
			</li>
		{% endfor %}
	</ul>
</section>

{{ content }}

<script src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js'></script> 
 
<script> 
    google.maps.event.addDomListener(window, 'load', init);
    var map;
    function init() {
        var mapOptions = {
            center: new google.maps.LatLng({{ page.lat }},{{ page.lng }}),
            zoom: {{ page.mapzoom }},
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.DEFAULT,
            },
            disableDoubleClickZoom: true,
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
            },
            scaleControl: false,
            scrollwheel: false,
            panControl: true,
            streetViewControl: true,
            draggable : true,
            overviewMapControl: false,
            overviewMapControlOptions: {
                opened: false,
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        }
        var mapElement = document.getElementById('winery-map');
        var map = new google.maps.Map(mapElement, mapOptions);
        
        var locations = [
        	{% for winery in site.wineries %}
        		[
        			'{{ winery.wineryname }}', 
        			'', 
        			'{{ winery.phone }}(858) 336 0663', 
        			'{{ winery.email }}', 
        			'{{ winery.url }}', 
        			{{ winery.lat }}, {{ winery.lng }}, 
        			'/images/icons/gps/gps.png'
        		],
        	{% endfor %}	
        ];
        
        for (i = 0; i < locations.length; i++) {
			if (locations[i][1] =='undefined'){ description ='';} else { description = locations[i][1];}
			if (locations[i][2] =='undefined'){ telephone ='';} else { telephone = locations[i][2];}
			if (locations[i][3] =='undefined'){ email ='';} else { email = locations[i][3];}
           if (locations[i][4] =='undefined'){ web ='';} else { web = locations[i][4];}
           if (locations[i][7] =='undefined'){ markericon ='';} else { markericon = locations[i][7];}
            marker = new google.maps.Marker({
                icon: markericon,
                position: new google.maps.LatLng(locations[i][5], locations[i][6]),
                map: map,
                title: locations[i][0],
                desc: description,
                tel: telephone,
                email: email,
                web: web
            });
if (web.substring(0, 7) != "http://") {
link = "http://" + web;
} else {
link = web;
}
            bindInfoWindow(marker, map, locations[i][0], description, telephone, email, web, link);
     }
 function bindInfoWindow(marker, map, title, desc, telephone, email, web, link) {
      var infoWindowVisible = (function () {
              var currentlyVisible = false;
              return function (visible) {
                  if (visible !== undefined) {
                      currentlyVisible = visible;
                  }
                  return currentlyVisible;
               };
           }());
           iw = new google.maps.InfoWindow();
           google.maps.event.addListener(marker, 'click', function() {
               if (infoWindowVisible()) {
                   iw.close();
                   infoWindowVisible(false);
               } else {
                   var html= "<a href="+web+" class='winery-map-info-window'><h4>"+title+"</h4><p>"+desc+"</p><span class='button'>Learn More</span></a>";
                   iw = new google.maps.InfoWindow({content:html});
                   iw.open(map,marker);
                   infoWindowVisible(true);
               }
        });
        google.maps.event.addListener(iw, 'closeclick', function () {
            infoWindowVisible(false);
        });
 }
}
</script>