---
layout: default
pageclass: blog
---

<div class="banner" style="background-image: url('{{ page.banner_image_path }}');">
	<hgroup class="full">
		<h1>{{ page.title }}</h1>
		<div class="author" style="display: none">
			{% for item in site.authors %}
				{% if item.title == page.author %}
					{% capture authorimagepath %}{{ item.image_path}}{% endcapture %}
				{% endif %}
			{% endfor %}
			<div class="image" style="background-image: url('{{ authorimagepath }}');"></div>
			<p>{{ page.author }}</p>
		</div>
	</hgroup>
</div>

<article>
	{{ content }}
</article>