---
layout: default
<!--pageclass: wineries-->
---
<div class="offer-banner">
	<section>
		<div class="wine">
			<img src="/images/wineries/ramona/principe-di-tricase/special.png" alt="" />
		</div>
		<hgroup>
			<h1>2011 South Coast Sangiovese</h1>
			<p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
			<h3>$24.00</h3>
			<h2>$19.00<span>/Bottle</span></h2>
			<div class="quantity">
				<input type="" name="" value="" />
				<span id="up">▲</span>
				<span id="down">▼</span>
			</div>
			<a href="#" class="button">Add To Cart</a>
		</hgroup>
	</section>
</div>

<section class="offer-page">
	<aside>
		
	</aside>
	<article>
		{{ content }}
	</article>
	
	<div id='winery-map'></div>
</section>






